<!--<form action="charge/create" method="post" id="chargeForm">-->
<!--  <input type="hidden" name="stripeToken" value="<%#= @stripeToken %>">-->
<!--  <input type="hidden" name=@card_amount" value="<%#= @card_amount %>">-->
<!--</form>-->

<!--<script>-->
<!--  let form = document.getElementById('chargeForm')-->
<!--  form.submit();-->
<!--</script>-->